# Ignore macOS system files
.DS_Store

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# 预处理后的数据集
fer2013/
FER2013_processed/

# 模型权重文件（太大，不适合 git，请用 Google Drive / Git LFS）
Models/Swin_Transformer/
Models/CNN/
Models/ViT_Model/
Models/LANMSFF/

# 输出目录
heatmaps/
heatmaps_vit/
heatmaps_vit_debug/

#测试用热力图原图
images/

#测试TDR
TDR_test/

#TDR结果
comparison/


dusk/
dusk_result/

kita/
yikuyou/

yukino/
yushita/

lappland/
texas/

heatmaps_lanmsff/

heatmaps_pcnn/external/ORSANet-master/checkpoint/
